@import "./utils/variables.scss";
@import "./components/global";
@import "./components/header";
@import "./components/logo";
@import "./components/navigation";
@import "./components/contacts";
@import "./components/hero";
@import "./components/backdrop";
@import "./components/benefits";
@import "./components/direction";
@import "./components/team";
@import "./components/client";
@import "./components/footer";
@import "./components/filter";
@import "./components/portfolio"

