body {
    font-family: $fontmain;
    background-color: $primary-white-color;
    color: $primary-text-color;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px
        }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        width: 480px;   
    }
    @media screen and (min-width: 768px) {
             width: 768px;
         }
    @media screen and (min-width: 1200px) {
             width: 1200px;
         }
}

.title--transperent {
    display: none;
}

/* Button */
.button {
    border-radius: 4px;
    border: transparent;
}