.header {
    border-bottom: 1px solid #ECECEC;
}
.header__container {
    display: flex;
    align-items: center;
}
.button-menu {
    display: inline-block;
    border: none;
    background-color: aqua;
}