    $primary-text-color: #212121;
    $desc-text-color: #757575;
    $accent-color: #2196F3;
    $primary-background-color: #E5E5E5;
    $accent-background-color: #F5F4FA;
    $primary-white-color: #FFFFFF;
    $primary-black-color: #000000;
    $footer-backgraund-color: #2F303A;
    $icon-color: #AFB1B8;
    $fontmain: Roboto, sans-serif;
    $fontlogo: Raleway, sans-serif;